/* Utilities */

.background-blue {
  background-color: #072ac8;
}

body {
  background-color: #f2f4fc;
  min-height: 100%;
}

.myHeader {
  display: inline-flex;
  text-decoration: none;
  font-weight: bolder;
  font-size: medium;
  height: 60px;
  margin: 60px 0px;
  margin-left: 70px;
}
a {
  text-decoration: none;
}
.home {
  height: 22px;
  color: #1860f0;
  font-size: 16px;
  line-height: 22px;
  font-family: Arial, Helvetica, sans-serif;
}
.aHeader {
  height: 22px;
  font-size: 16px;
  color: #6b708d;
  font-family: Arial, Helvetica, sans-serif;
}
.logo {
  height: 18px;
}
.menu {
  height: 22px;
  gap: 60px;
  text-align: center;
  margin: 0px 300px;
  word-spacing: 25px;
}
.contact {
  padding: 17px 27px;
  border-color: solid blue;
  display: inline-block;
  border: 1px;
  color: white;
  border-radius: 3px;
}
.intro {
  width: 90%;
  margin: 0 auto;
  height: 460px;
  border: 1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 20px;
  padding-top: 50px;
}
#intro {
  font-size: 60px;
  color: #3a3c4b;
  padding-right: 25px;
  padding-top: 50px;
}
.description {
  font-size: 20px;
  color: grey;
  padding-bottom: 15px;
  padding-right: 40px;
  text-align: left;
}
#touch {
  height: 40px;
  border: solid blue;
  padding: 12px 25px;
  color: white;
  border-radius: 5px;
}
.buttonsIntro {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
#work {
  padding: 8px 20px;
}
.container-intro {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}
#imgHero {
  height: 600px;
  width: 600px;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
.logos {
  display: flex;
  flex-direction: row;
  height: 96px;
  padding: 120px 27px;
}
.img-logo {
  height: 56px;
  padding: 130px 50px 10px 50px;
}
.img-microsoft {
  height: 26px;
  padding: 145px 50px 10px 50px;
}
.img-airbnb {
  height: 32px;
  padding: 140px 50px 10px 50px;
}
.col1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 250px;
}
.container {
  margin-top: 150px;
  padding: 10px 50px;
  border: 1px;
  background-color: #292e47;
  height: 600px;
  background-image: url(/img/Ellipse\ 27.png), url(/img/Ellipse\ 26.png),
    url(/img/Ellipse\ 25.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
.col2 {
  text-align: center;
  font-size: 24px;
  color: rgb(206, 206, 25);
  font-weight: bold;
  justify-content: space-between;
  height: 130px;
}
.col3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 150px;
  padding-top: 25px;
}
.info {
  padding: 70px 100px 0px 100px;
}
.container-services {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px;
  height: 500px;
}
.title {
  padding: 120px 70px 40px 70px;
  font-size: 38px;
  color: #3a3c4b;
}
i {
  background: rgb(179, 215, 227);
  padding: 25px;
  border-radius: 50%;
  margin: 35px;
}
.services {
  font-size: 16px;
  font-weight: bold;
  color: #3a3c4b;
  padding: 5px 20px;
  box-sizing: border-box;
  height: 390px;
  text-align: left;
  border: 1px;
  background-color: white;
  margin: 10px;
}
.learn {
  margin-top: 35px;
  font-size: 18px;
  color: #072ac8;
  margin-bottom: 20px;
}
.p-services {
  font-size: 18px;
  font-weight: lighter;
}
.help {
  background-color: #ffc600;
  text-align: center;
  height: 500px;
}
.question {
  font-size: 38px;
  color: #3a3c4b;
  padding-top: 100px;
}
.email {
  margin: 30px 11px 100px 5px;
  font-size: 12px;
  height: 65px;
}
.suscribe-btn {
  padding: 25px 65px;
  background-color: #072ac8;
  color: white;
  border-radius: 3%;
}
::placeholder {
  font-family: "Font Awesome 6 Free";
  font-size: 500;
  padding: 5px;
  color: #292e47;
}
.footer-container {
  display: flex;
  flex-direction: row;
  padding: 100px;
  justify-content: space-between;
}
.footer-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #1860f0;
  font-size: 15px;
  font-weight: 500;
}
.footer-adress {
  text-align: left;
  color: #6b708d;
}
.footer-logo {
  height: 30px;
  text-align: left;
  padding-top: 60px;
}
.container-projects {
  padding: 5px 20px;
  box-sizing: border-box;
  border: 1px;
  margin: 10px;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  color: #3a3c4b;
  margin: 30px;
}

.project {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
  background-color: white;
}
