/* Utilities */

.background-blue {
  background-color: #072ac8;
}

body {
  background-color: #f2f4fc;
  min-height: 100%; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.myHeader {
  display: inline-flex;
  text-decoration: none;
  font-weight: bolder;
  font-size: medium;
  margin: 5%;
  width: 90vw;
}
a {
  text-decoration: none;
}
.home {
  color: #1860f0;
  font-size: 16px;
  line-height: 22px;
  font-family: Arial, Helvetica, sans-serif;
}
.aHeader {
  font-size: 16px;
  color: #6b708d;
  font-family: Arial, Helvetica, sans-serif;
}
.logo {
  height: 18px; 
}
.menu {
  height: 22px;
  text-align: center;
  word-spacing: 25px; 
}
.contact {
  padding: 17px 27px;
  border-color: solid blue;
  display: inline-block;
  border: 1px;
  color: white;
  border-radius: 3px;
}
.containerBar {
    margin: 0% 30%;
}
.intro {
  width: 90vw;
  margin: 5.5%;
  border: 1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#intro {
  font-size: 60px;
  color: #3a3c4b;
}
.description {
  font-size: 20px;
  color: grey;
  padding-bottom: 15px;
  padding-right: 40px;
  text-align: left;
}
#touch {
  height: 40px;
  border: solid blue;
  padding: 12px 25px;
  color: white;
  border-radius: 5px;
}
.buttonsIntro {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
#work {
  padding: 8px 20px;
}
.container-intro {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  width: 95%;
}
#imgHero {
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  padding-top: 7%;
}
.logos {
  display: flex;
  height: 85px;
  padding: 7% 3%;
}
.img-logo {
  height: 40px;
  padding: 7% 5%;
}
.img-microsoft {
  height: 26px;
  padding: 7% 3%;
}
.img-airbnb {
  height: 32px;
  padding: 7% 3%;
}
.col1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.container {
  margin-top: 150px;
  padding: 10px 50px;
  border: 1px;
  background-color: #292e47;
  background-image: url(/img/Ellipse\ 27.png), url(/img/Ellipse\ 26.png),
    url(/img/Ellipse\ 25.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  width: 91%;
}
.col2 {
  text-align: center;
  font-size: 24px;
  color: rgb(206, 206, 25);
  font-weight: bold;
  justify-content: space-between;
}
.col3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 25px;
}
.info {
  padding: 70px 100px 0px 100px;
}
.container-services {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 3.5%;
}
.title {
  padding: 10% 3% 3% 3%;
  font-size: 38px;
  color: #3a3c4b;
  margin: 2% 2% 0 2%;
}
i {
  background: rgb(179, 215, 227);
  padding: 25px;
  border-radius: 50%;
  margin: 35px;
}
.services {
  font-size: 16px;
  font-weight: bold;
  color: #3a3c4b;
  padding: 2%;
  box-sizing: border-box;
  height: 420px;
  text-align: left;
  border: 1px;
  background-color: white;
  margin: 2%;
}
.learn {
  margin-top: 35px;
  font-size: 18px;
  color: #072ac8;
  margin-bottom: 20px;
}
.p-services {
  font-size: 18px;
  font-weight: lighter;
  color: #3a3c4b;
}
.help {
  background-color: #ffc600;
  text-align: center;
  height: 100%;
  width: 97.5vw;
  padding-bottom: 8%;
}
.question {
  font-size: 38px;
  color: #3a3c4b;
  padding-top: 10%;
  margin-top: 13%;
  text-align: center;
}
.email {
  margin: 2%;
  font-size: 12px;
  height: 65px;
  width: 20%;
  text-align: center;
}
.suscribe-btn {
  padding: 2% 4%;
  background-color: #072ac8;
  color: white;
  border-radius: 3%;
}
::placeholder {
  font-family: "Font Awesome 6 Free";
  font-size: 500;
  padding: 5px;
  color: #292e47;
}
.footer-container {
  display: flex;
  flex-direction: row;
  padding: 5%;
  justify-content: space-between;
}
.footer-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #1860f0;
  font-size: 15px;
  font-weight: 500;
}
.footer-adress {
  text-align: left;
  color: #6b708d;
}
.footer-logo {
  height: 25px;
  text-align: left;
  padding-top: 60px;
}
.container-projects {
  box-sizing: border-box;
  border: 1px;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  color: #3a3c4b;
}

.project {
  display: flex;
  flex-direction: column;
  margin: 4%; 
  padding: 2%;
  background-color: white;
}
.project-card {
    width: 98vw;
}
.custom-cursor {
    cursor: pointer;
}
.moreInfo {
    padding: 2%;
    color:#072ac8;
    text-decoration:underline;
}
.information {
    margin: 3%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sub-title {
    font-size: 20px;
    color: grey;
    margin: 0% 5% 2% 5%;
}
.img-card1 {
    position: absolute;
    top: -30px;
    left: -140px;
}
.img-card2 {
    position:absolute;
    bottom: -150px;
    right: -65px;
}
.relative {
    position: relative;
}
.boton-menu {
    display: none;
}

@media (max-width: 600px) {

    .container-intro,
    .container-projects,
    .container-services,
    .img-microsoft,
    .img-airbnb,
    .footer-container {
        flex-direction: column;
        justify-content: center;
    }
    .img-card1,
    .img-card2,
    .emoji,
    .menu,
    .contact,
    .img-logo,
    .footer {
        display: none;
    }
    .boton-menu {
        display: block;
        align-items: end;
    }
    #imgHero {
        height: 300px;
        width: 300px;
    }
    * {
        align-items: center;
    }
}
